/* CONFIGURATION OF GRID */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  grid-template-areas: "header header "
                       "content content"
                       "widget-1 widget-2"
                       "footer footer";
  
  width: 90%;
  max-width: 960px;      
  margin: auto;
  background-color: #EEEEEE;                 
}

.header {
  grid-area: header;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  
}

.content {
  grid-area: content;
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 5px;
}

.widget-1 {
  grid-area: widget-1;
  background-color: #0091EA;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-2 {
  grid-area: widget-2;
  background-color: #0091EA;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* CONFIGURATION OF LABELS*/

.icon ul {
  
  list-style: none;
  display: flex;
  position: absolute;
  /* background-color: red; */
  
}

.icon ul li a {
  text-decoration: none;
  color: #69F0AE;
}

.icon ul li a:hover {
  opacity: 0.7;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  
}

.nav ul li a {
  text-decoration: none;
  margin-right: 2em;
  color: #FFFF00;
}

.nav ul li a:hover {
  opacity: 0.7;
}
